 @model HomeModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Seja bem vinda, <strong>@Model.Nome</strong>!</h1>
    <p>Esse é o meu primeiro site em MVC</p>
    <h4>Seu email é: @Model.Email</h4>
</div>